if [ -x "$(command -v nvim)" ]; then
  alias vim=nvim
  export EDITOR=nvim
fi

if [ -x "$(command -v eza)" ]; then
  alias ls="eza --color=always"
  alias l="eza --color=always --long"
  alias ll="eza --color=always -abghHlS"
fi

if [ -x "$(command -v zellij)" ]; then
  alias zl=zellij
fi

if [ -x "$(command -v zoxide)" ]; then
  if [ -n "$BASH_VERSION" ]; then
    eval "$(zoxide init bash)"
  elif [ -n "$ZSH_VERSION" ]; then
    eval "$(zoxide init zsh)"
  fi
  # alias cd=z
fi

function calcimages() {
    find "$1" -type f \( -name \*.jpg -o -name \*.jpeg -o -name \*.png \) | wc -l
}

mambac() {
    local python_version="3.11"
    local env_name

    if [ $# -eq 1 ]; then
        env_name=$1
    else
        python_version=$1
        env_name=$2
    fi

    mamba create -y -n "$env_name" python="$python_version"
    mamba activate "$env_name"
}

alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias nvimconfig="nvim ~/.config/nvim/init.vim"
alias vimconfig="vim ~/.vimrc"

alias c="clear"

alias ipy="ipython"

alias initifort="source /opt/intel/oneapi/setvars.sh >/dev/null"

alias rsync-copy="rsync -avz --progress -h"
alias rsync-move="rsync -avz --progress -h --remove-source-files"
alias rsync-update="rsync -avzu --progress -h"
alias rsync-synchronize="rsync -avzu --delete --progress -h"

alias rcopy="rsync-copy"
alias rmove="rsync-move"
alias rupd="rsync-update"

# some stuff for remote cluster
function s {
  sbatch "$@"
}

function q {
    sinfo
    echo ""
    squeue --user="$(whoami)" --format="%.11i %.11P %45j %.8T %.12M %18N"
    echo -e "\nTotal number of jobs: $(squeue --user="$(whoami)" -h | wc -l)"
}

function qq {
    watch -n 1 "squeue --user=$(whoami) --format='%.11i %.11P %45j %.1T %.12M %18N'; echo -e '\nTotal number of jobs: '; squeue --user=$(whoami)  -h | wc -l"
}

function gpu {
  ssh "lambda-scalar0$0" -t "$(which nvitop)"
}
