#!/usr/bin/env bash

# inits
if [ -x "$(command -v zoxide)" ]; then
  if [ -n "$BASH_VERSION" ]; then
    eval "$(zoxide init bash)"
  elif [ -n "$ZSH_VERSION" ]; then
    eval "$(zoxide init zsh)"
  fi
fi

alias c="clear"
alias initifort="source /opt/intel/oneapi/setvars.sh >/dev/null"

if [ -x "$(command -v nvim)" ]; then
  alias vim=nvim
  export EDITOR=nvim
fi

if [ -x "$(command -v eza)" ]; then
  alias ls="eza --color=always"
  alias l="eza --color=always --long"
  alias ll="eza --color=always -abghHlS"
fi

# configs
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias nvimconfig="nvim ~/.config/nvim/init.vim"
alias vimconfig="vim ~/.vimrc"

# rsync
alias rsync-copy="rsync -avz --progress -h"
alias rsync-move="rsync -avz --progress -h --remove-source-files"
alias rsync-update="rsync -avzu --progress -h"
alias rsync-synchronize="rsync -avzu --delete --progress -h"

alias rcopy="rsync-copy"
alias rmove="rsync-move"
alias rupd="rsync-update"

# some helpers
function calcimages {
    find "$1" -type f \( -name \*.jpg -o -name \*.jpeg -o -name \*.png \) | wc -l
}

function update {
  echo "Updating omz..."
  omz update

  echo "Updating os packages..."
  unameout="$(uname -s)"
  case "${unameout}" in
    Darwin*) brew update && brew upgrade ;;
    Linux*) sudo apt update && sudo apt upgrade ;;
    *) echo "Unknown uname: $unameout" ;;
  esac

  echo "Updating mamba..."
  mamba update --all -y && mamba clean --all -y

  echo "Updating cargo..."
  cargo install-update -a
}

function mambac {
    local python_version="3.11"
    local env_name

    if [ $# -eq 1 ]; then
        env_name=$1
    else
        python_version=$1
        env_name=$2
    fi

    mamba create -y -n "$env_name" python="$python_version"
    mamba activate "$env_name"
}

# some stuff for remote cluster
function s {
  sbatch "$@"
}

function q {
    sinfo
    echo ""
    squeue --user="$(whoami)" --format="%.11i %.11P %45j %.8T %.12M %18N"
    echo -e "\nTotal number of jobs: $(squeue --user="$(whoami)" -h | wc -l)"
}

function qq {
    watch -n 1 "squeue --user=$(whoami) --format='%.11i %.11P %45j %.1T %.12M %18N'; echo -e '\nTotal number of jobs: '; squeue --user=$(whoami)  -h | wc -l"
}

function gpu {
  ssh "lambda-scalar0$1" -t "$(which nvitop)"
}
