.DS_Store

.idea
.vscode/*
!.vscode/settings.json
!.vscode/user_settings.json
!.vscode/extensions.json
!.vscode/launch.json

__pycache__
.python-version
.venv*
*.egg-info

.aim

/.config/yazi/plugins
