jupyterlab
pip-chill
pylint
seaborn
tqdm
# anyio # Installed as dependency for jupyter-server
# argon2-cffi # Installed as dependency for notebook, jupyter-server
# astroid # Installed as dependency for pylint
# async-generator # Installed as dependency for nbclient
# attrs # Installed as dependency for jsonschema
# babel # Installed as dependency for jupyterlab-server
# backcall # Installed as dependency for ipython
# bleach # Installed as dependency for nbconvert
# certifi # Installed as dependency for requests
# cffi # Installed as dependency for argon2-cffi
# chardet # Installed as dependency for requests
# cycler # Installed as dependency for matplotlib
# decorator # Installed as dependency for ipython
# defusedxml # Installed as dependency for nbconvert
# entrypoints # Installed as dependency for nbconvert
# idna # Installed as dependency for requests, anyio
# ipykernel # Installed as dependency for notebook
# ipython # Installed as dependency for jupyterlab, ipykernel
# ipython-genutils # Installed as dependency for notebook, traitlets, nbformat, jupyter-server
# isort # Installed as dependency for pylint
# jedi # Installed as dependency for ipython
# jinja2 # Installed as dependency for jupyterlab-server, jupyter-server, jupyterlab, notebook, nbconvert
# json5 # Installed as dependency for jupyterlab-server
# jsonschema # Installed as dependency for nbformat, jupyterlab-server
# jupyter-client # Installed as dependency for notebook, jupyter-server, nbclient, ipykernel
# jupyter-core # Installed as dependency for nbformat, jupyter-server, jupyterlab, notebook, jupyter-client, nbconvert
# jupyter-server # Installed as dependency for jupyterlab, jupyterlab-server, nbclassic
# jupyterlab-pygments # Installed as dependency for nbconvert
# jupyterlab-server # Installed as dependency for jupyterlab
# kiwisolver # Installed as dependency for matplotlib
# lazy-object-proxy # Installed as dependency for astroid
# markupsafe # Installed as dependency for jinja2
# matplotlib # Installed as dependency for seaborn
# matplotlib-inline # Installed as dependency for ipython
# mccabe # Installed as dependency for pylint
# mistune # Installed as dependency for nbconvert
# nbclassic # Installed as dependency for jupyterlab
# nbclient # Installed as dependency for nbconvert
# nbconvert # Installed as dependency for notebook, jupyter-server
# nbformat # Installed as dependency for notebook, nbconvert, nbclient, jupyter-server
# nest-asyncio # Installed as dependency for nbclient
# notebook # Installed as dependency for nbclassic
# numpy # Installed as dependency for pandas, seaborn, scipy, matplotlib
# packaging # Installed as dependency for jupyterlab, jupyterlab-server, bleach
# pandas # Installed as dependency for seaborn
# pandocfilters # Installed as dependency for nbconvert
# parso # Installed as dependency for jedi
# pexpect # Installed as dependency for ipython
# pickleshare # Installed as dependency for ipython
# pillow # Installed as dependency for matplotlib
# prometheus-client # Installed as dependency for notebook, jupyter-server
# prompt-toolkit # Installed as dependency for ipython
# ptyprocess # Installed as dependency for pexpect, terminado
# pycparser # Installed as dependency for cffi
# pygments # Installed as dependency for ipython, nbconvert, jupyterlab-pygments
# pyparsing # Installed as dependency for matplotlib, packaging
# pyrsistent # Installed as dependency for jsonschema
# python-dateutil # Installed as dependency for pandas, jupyter-client, matplotlib
# pytz # Installed as dependency for pandas, babel
# pyzmq # Installed as dependency for notebook, jupyter-server, jupyter-client
# requests # Installed as dependency for jupyterlab-server
# scipy # Installed as dependency for seaborn
# send2trash # Installed as dependency for notebook, jupyter-server
# six # Installed as dependency for websocket-client, cycler, argon2-cffi, python-dateutil, jsonschema, bleach
# sniffio # Installed as dependency for anyio
# terminado # Installed as dependency for notebook, jupyter-server
# testpath # Installed as dependency for nbconvert
# toml # Installed as dependency for pylint
# tornado # Installed as dependency for jupyter-server, jupyterlab, terminado, ipykernel, notebook, jupyter-client
# traitlets # Installed as dependency for nbformat, jupyter-server, matplotlib-inline, nbclient, jupyter-core, ipykernel, notebook, ipython, jupyter-client, nbconvert
# urllib3 # Installed as dependency for requests
# wcwidth # Installed as dependency for prompt-toolkit
# webencodings # Installed as dependency for bleach
# websocket-client # Installed as dependency for jupyter-server
# wrapt # Installed as dependency for astroid
