Port 4564
PermitRootLogin no 
RSAAuthentication yes
PasswordAuthentication no 
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
